hr {
    width: 55%;
    display: block;
    align-content: baseline;
}
h3{
    text-align: center;
    color: #888;
    margin: 0px;
    margin-top: 49px;
}
.monitor:hover {
    border: 2px dashed #ffffff;
}
.monitor {
    border: 2px dashed #670000;
    min-width: 45%;
    background-position: center;
    transition: .3s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    display: flex;
    height: 137px;
    background-repeat: no-repeat;
    background-size: auto;
    justify-content: space-around;
}
span.name {
    position: absolute;
    background: #000;
    color: #fff;
    opacity: 0;
    top: 40%;
    top: 0;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    transition: .5s;
}
.monitor:hover>span.name {
    opacity: 1;
    top: 40%;
}
.monitors, .windows {
    display: flex;
    margin-top: 29px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
video {
    width: 126%;
    margin: auto;
    display: flex;
}
.imagePreview{
    width: 100%;
}



